* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    
    background: url('https://www.shutterstock.com/image-photo/blank-black-corporate-stationery-on-600nw-1051434977.jpg') no-repeat;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 900px; 
    margin: 0;
    justify-content: center; 
    align-items: center; 
    color: white;


}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

main {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.logo {
    font-size: 40px;
    color: #66feff;
    text-decoration: none;
    font-weight: 700;
}



.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;
    object-fit: cover;
    object-position: 50% 80%;
    border: 2px darkgray;
    border-radius: 50%;
}

.links {
    width: fit-content;
    height: 100px;
    background-color: aliceblue;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.link-fb {
    width: 100px;
    height: 100px;
    background-image: url(img/facebook_logo_icon.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.link-lkin {
    width: 100px;
    height: 100px;
    background-image: url(img/linkedin_logo_icon.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.link-inst {
    width: 100px;
    height: 100px;
    background-image: url(img/instagram_logo_icon.png);
    background-repeat: no-repeat;
    background-size: cover;

}


.carousel {
    position: relative;
}

.carousel__item {
    height: 600px;
    padding: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    display: none;
}

.carousel__item--selected {
    display: block;
}

.carousel__nav {
    width: 100%;
    padding: 20px 0;
    position:absolute;
    bottom: 0%;
    left: 0;
    text-align: center;
}


.carousel__button {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: rgb(252, 0, 0);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel__button--selected {
    background: rgba(255, 255, 255, 0.5);
}
