body {
    /* Set the background image and define its properties */
    background-image: url('https://www.shutterstock.com/image-photo/blank-black-corporate-stationery-on-600nw-1051434977.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0; 
    justify-content: center; 
    align-items: center; 
    color: white;

}


img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* background-size: 50%; */
    object-fit: cover;
    object-position: 50% 80%;
    border: 2px solid red;
}
